@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Poppins:wght@300;400&display=swap');

body{
    overflow-x: hidden;
    background-color: #f8fbff;
    margin: 0;
}

.secondary-txt{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.7rem, 1.2vw, 1.5rem);
}

.linktxt{
    text-decoration: none;
}

.linktxt:hover{
    color: #adb6ee;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: block;
    font-family: 'Gasoek One', sans-serif;
    font-weight: 150;
    font-kerning: auto;
    font-size: clamp(2.8rem, 6vw, 8rem);
    color: black;
    text-align: left;
}

.bold{
    font-weight: bold;
}

.line {
    border-bottom: 1vh solid #202020;
    width: 70vw;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.line:hover{
    width: 80vw;
}

.line-small{
    border-bottom: 0.5vh solid #202020;
    width: 75%;
    border-radius: 100px;
}

.code-icon{
    font-size: clamp(1.5rem, 2vw, 4rem);
}

.nameSection{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.name{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
}

.jobTitle{
    font-size: clamp(0.9rem, 1.5vw, 5rem);
    font-family: 'Poppins', sans-serif;
    color: #343434;
    text-align: right;
}

.break{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}


/* ABOUT ME SECTION */
.aboutSection{
    padding: 5%;
    display: grid;
    grid-template-columns:  3fr 3fr ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
    background-color: #fdf9f1;
    border-bottom: 0.1rem solid #202020;
    border-top: 0.1rem solid #202020;
}

.aboutmeTxt{
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    width: 100%;
}

.section-title{
    display: block;
    font-family: 'Gasoek One', sans-serif;
    font-weight: 150;
    font-size: clamp(3rem, 7vw, 10rem);
    color: black;
    transition: all 0.6s;
}

.section-title:hover{
    font-size: clamp(3.5rem, 8vw, 10.5rem);
}

@keyframes scaleAnimation {
    0%, 100%{
        font-size: clamp(3rem, 7vw, 10rem);
    }
    50% {
        font-size: clamp(3.5rem, 8vw, 10.5rem);
    }
}

.section-title-s{
    font-family: 'Gasoek One', sans-serif;
    font-weight: 150;
    font-kerning: auto;
    font-size: clamp(2.5rem, 6vw, 9rem);
    color: black;
}

.technicalAbilities{
    /* height: 160vh; */
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
}

.repCol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 3%;
    text-align: center;
}

.marginTB{
    margin-top: 5%;
    margin-bottom: 5%;
}

.marginT{
    margin-top: 5%;
}

.innerTA{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 3%;
}

.defualtcolor{
    background-color: #eae3d5;
}

.defualtcolor:hover{
    background-color: #d3cbba;
}

.color-darkerB{
    background-color: #eae3d5;
}


/* GAME SECTION */

.centerTxt{
    text-align: center;
}

.padding{
    padding: 3%;
}

.gameSection{
    background-color: #fdf9f1;
    border-top: 0.1rem solid #202020;
    border-bottom: 0.1rem solid #202020;
    height: 100vh;
    width: 100vw;
    margin-bottom: 3%;
    
}

.games{
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10%;
    column-gap: 5%;
}

.icon-size{
    font-size: clamp(3rem, 6vw, 9rem);
}

.sm-icon-size{
    font-size: clamp(2rem, 4vw, 7rem);
}

.box{
    padding: 15%;
    background-color: #adb6ee;
    border-radius: 10px;
}

.box-outline{
    padding: 15%;
    outline-style: solid;
    outline-color: black;
    border-radius: 10px;
    box-shadow: 2px 10px;
}

.contactMe{
    padding: 0.5%;
    background-color: #eae3d5;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 100vw;
    border-bottom: 0.1rem solid #202020;
    border-top: 0.1rem solid #202020;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}

.box-center{
    display: block;
}


/* BACKGROUND SECTION */

.background{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 3fr);
    z-index: -1;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.ss-circle,
.s-circle,
.m-circle,
.m-circle-two {
  position: relative;
}

.ss-circle {
    background-color: #adeebd;
    width: 10vw;
    height: 20vh;
    border-radius: 40% 70% 60% 50% / 50% 30% 60% 30%;
    opacity: .8;
    filter: blur(53px);
}

.s-circle {
    background-color: #eecbad;
    width: 30vw;
    height: 60vh;
    border-radius: 40% 70% 60% 50% / 50% 30% 60% 30%;
    opacity: .8;
    filter: blur(53px);
}

.m-circle{
    background-color: #adb6ee;
    width: 40vw;
    height: 80vh;
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    opacity: .8;
    filter: blur(53px);
}

.m-circle-two{
    background-color: #d8adee;
    width: 40vw;
    height: 80vh;
    border-radius: 50% 60% 70% 70% / 60% 50% 40% 30%;
    opacity: .8;
    filter: blur(53px);
}

.c-green{
    background-color: #adeebd;
}

.c-backgroundColor{
    background-color: #f8fbff;
}


@media (max-width: 1150px) {
    .name{
        grid-template-columns: 0.5fr 3fr 0.5fr
    }
}

@media (max-width: 576px) {
    
    .aboutSection{
        grid-template-columns: 1fr;
    }
    
    .innerTA{
        grid-template-columns: 1fr;
        display: grid;
        justify-content: center;
        margin: 0 auto;
    }

    .section-title{
        text-align: center;
    }

    .aboutmeTxt{
        width: 80%;
        display: grid;
        justify-content: center;
        margin: 0 auto;
    }

    .games{
        grid-template-columns: repeat(2, 1fr);
    }

    .m-circle{
        height: 71vh;
    }
}

@media (max-width: 768px) {
    .name{
        padding: 10%;
        grid-template-columns: 1fr
    }
}

@media (max-width: 1200px) {
    .name{
        padding: 10%;
        grid-template-columns: 1fr
    }
}
